$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
  font-family: 'Source Sans Pro';
}

#topHeader {
  background-color: #303F9F;
  color: white;
  h1 {
    margin: 0;
    padding: 20px;
  }
}

#middleHeader {
  background-color: #3F51B5;
  color: white;
  h2, h3 {
    margin: 0;
    padding: 20px;
  }
}

.chartItem {
  margin-top: 10px;
  margin-bottom: 10px;
}

.chartHeader {
  .btn {
    border-radius: 0;
    background-color: #E91E63;
    color: white;
    border:none;
    margin-bottom: 10px;
  }
  .btn:hover {
    border-radius: 0;
    background-color: #F06292;
    color: white;
    border: none;
  }
}